@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Inconsolata:wght@200..900&display=swap");
a {
    text-decoration: none;
    color: inherit;
    font-family: "Fjalla One", sans-serif;
}
body {
    background-color: #FCFCED;
    color: #0D1321;
}
h1 {
    font-weight: 900;
    font-size: 2.5rem;
     font-family: "Fjalla One", sans-serif;
}
h2 {
    font-weight: 700;
    font-size: 2rem;
     font-family: "Fjalla One", sans-serif;
}
h3 {
    font-weight: 700;
    font-size: 1.5rem;
     font-family: "Fjalla One", sans-serif;
}
h4{
    font-size: 1.3rem;
    font-weight: 600;
     font-family: "Fjalla One", sans-serif;
}
p {
    font-size: 1rem;
    line-height: 1.5;
}
.clicavel {
  cursor: pointer;
}